@charset "UTF8";

@font-face {
    font-family: 'IDroid';
    src: url('fontes/idroid.otf'), format('opentype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #84e1ac;
    margin: 0px;
}

header {
    background-image: linear-gradient(to bottom, #84e1ac, #13472a);
    color: #FFFFFF;
    margin: 0px;
    padding: 10px;
}

.cabeca {
    text-align: center;
    
}

nav > a {
    text-align: left;
    text-decoration: none;
    color: #FFFFFF;
    margin-left: 30px;
    
}

main {
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    margin: 0px 50px;
}

section {
    margin: 0px;
}

h2 {
    font-family: 'IDroid';
    color: #387252;
    margin: 10px;
}

h3 {
    background-color: #49bb7a60;
    font-family: 'IDroid';
    color: #387252;
    padding: 0px 10px;
    margin: 10px;
}

section > p {
    text-align: justify;
    text-indent: 10px;
    margin: 15px;
    
}

img {
    
}

#extra {
    background-color: #0ed46796;
    color: #FFFFFF;
    border-radius: 6px 6px 0px 0px;
    margin: 0px;
}

article#lista {
    background-color: #4be69167;
    border-radius: 6px;
    padding: 0px 0px 10px 0px;
    margin: 10px;
}

article#video {
    background-color: #13472a;
    text-align: center;
    padding: 50px;
    margin: 0px;
}

article > p {
    padding: 10px;
    text-align: justify;
    text-indent: 15px;
}

footer {
    background-color: #1a5b37;
    color: #FFFFFF;
    text-align: center;
    padding: 3px;
    margin: 10px 0px 0px 0px;
}