@charset "UTF-8";

*{
font-family: Arial, Helvetica, sans-serif;
}
body{
background-image: linear-gradient(to bottom, #04be8ae0, #017a64e3, #014040 );
}
main{
background-color: white;
border-radius: 15px;
box-shadow: 5px 5px 15px #013636be;
width: 600px;
padding: 10px;
margin: auto;
}
h1{
color: #F27405;
text-align: center;
text-shadow: 1px 1px 2px #f27405d0;
}
h2{
color: #731702;
}
p{
text-align: justify;
}